* {
    margin: 0px;
    padding: 0px;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background: url(https://abrakadabra.fun/uploads/posts/2022-02/1645734120_1-abrakadabra-fun-p-oboi-na-klaviaturu-dlya-telefona-anime-nar-1.png) 100% 100% no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__block {
    width: 565px;
    height: 700px;
    border-radius: 90px;
    background: rgba(217, 217, 217, 0.09);
    box-shadow: rgba(0, 0, 0, 0.5) 0.5px 0.5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.main__block-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.main__block-middle {
    margin-top: 50px;
}


.main__block-top img {
    border-radius: 100%;
    height: 251px;
    width: 251px;
    margin-bottom: 25px;
}



.main__block-bottom input{
    width: 150px;
    height: 48px;
    font-size: 16px;
    border:none;
    border-radius: 10px;
    text-decoration: none;
    color: black;
}

.main__block-bottom {
    margin-top: 25px;
}

.main__block-bottom input:nth-child(1){
    background: rgb(117, 117, 117);
}

.main__block-bottom input:hover {
    background: rgb(218, 165, 165);
}

.social_icon:hover {
    -webkit-box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
    -moz-box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
    box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);

}

@media screen and (max-width: 992px) {
    .main__block-top img {
        width: 181px;
        height: 181px;
    }
    .main__block {
        width: 530px;
        height: 650px;
    }

    .main__block p {
        font-weight: bold;
    }
  }





  * {
    margin: 0;
    padding: 0;
}

.test {
    background-color: green;
    width: 500px;
    height: 500px;
    transform: rotateY(-150%);
    position: absolute;
    top: 0px;
    animation: render 1s ease-in-out;
}

@keyframes render {
    0% {
        height: 0px;
    }
    100% {
        height: 500px;
    }
}

.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio {
    
}

.portfolio__top {
    width: 1003px;
    height: 98px;
    background: #707070;
    border-radius: 25px 25px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio__top__button {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background: #D9D9D9;
    position: relative;
}

.portfolio__top__button hr:nth-child(1) {
    bottom: 0;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0; 
    height: 25px;
    width: 3px;
    border: none;
    background: black;
}
.portfolio__top__button hr:nth-child(2) {
    bottom: 0;
    top: 0;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0; 
    height: 3px;
    width: 25px;
    border: none;
    background: black;
}

.open_menu {
    transform: rotate(45deg);
    transition: 0.5s ease-in-out;
    background: #c99b9b; 
}

.close_menu {
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
}

.portfolio__bottom {
    overflow: hidden;
    width: 1003px;
    /* height: 617px; */
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    height: 0px;
    background: #D9D9D9;
    border-radius: 0px 0px 25px 25px;
    /* animation: close_menu 1.5s ease-in-out; */
}

.open {
    height: 617px;
    animation: open_menu 1.5s ease-in-out;
}

.close {
    animation: close_menu 1.5s ease-in-out;
}

@keyframes open_menu {
    0% {
        height: 0px;
    }
    100% {
        height: 617px;
    }
}

@keyframes close_menu {
    0% {
        height: 617px;
    }
    100% {
        height: 0px;
        display: none;
    }
}